```dockerignore
8. Wholesale Customer (Unsupervised)\Production ready\__pycache__
8. Wholesale Customer (Unsupervised)\Production ready\mlruns
8. Wholesale Customer (Unsupervised)\Production ready\data